/**
 * A theme that provides native macOS experiences.
 */

/* -------------------------------------
 *   Reset
 * ------------------------------------- */

.manager .navigation .button-toolbar.previous svg,
.manager .navigation .button-toolbar.next svg {
  width: auto;
  height: 16px;
}

/* -------------------------------------
 *   Layout
 * ------------------------------------- */

.startpage .searchfield {
  display: none;
}

/* -------------------------------------
 *   Styles
 * ------------------------------------- */

.startpage {
  background-color: #e2e3e4 !important;
}

.startpage-navigation {
  background-color: #f1f0f2 !important;
}

button.button-startpage::after {
  display: none;
}
